.breadcrumbs {
  --gap: #{rem(8px)};

  &__list {
    margin-top: calc(-1 * var(--gap));
    margin-left: calc(-1 * var(--gap));
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: var(--gap);
    margin-left: var(--gap);
    display: flex;
  }

  &__link {
    $element: &;

    @include fontFsl("title-2", 13px, 100%);

    padding: rem(8px) rem(12px);

    border: 1px solid $color-border;
    border-radius: rem(4px);
    color: $color-white;

    &--current {
      background-color: $color-black;
      border-color: $color-black;
    }

    &:not(#{$element}--current) {
      &:hover {
        background-color: $color-yellow;
        border-color: $color-yellow;
        color: $color-black;
      }
    }
  }
}
