.feature-section {
  padding-top: rem(180px);
  overflow: hidden;

  border-radius: 0 rem(120px) 0 0;

  &__row {
    position: relative;
    z-index: 0;

    padding-right: calc(#{$col} + #{$colGap});
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__col {
    position: relative;

    &:nth-child(1) {
      z-index: 2;

      width: calc(#{cols(4)});
    }

    &:nth-child(2) {
      z-index: 1;

      width: calc(#{cols(5)});

      &::before {
        position: absolute;
        z-index: -1;
        top: -100vh;
        bottom: 0;
        left: -100vw;
        right: -100vw;

        content: "";
        pointer-events: none;
        user-select: none;

        background-color: $color-blue;
      }
    }
  }

  &__picture {
    overflow: hidden;

    border-radius: 0 rem(12px) rem(80px) 0;
  }

  &__content {
    position: relative;
    z-index: 0;

    padding-top: rem(286px);
    padding-bottom: rem(60px);

    &::before,
    &::after {
      @include size(rem(20px));

      position: absolute;
      z-index: -1;
      top: 0;

      content: "";
      pointer-events: none;
      user-select: none;

      border: 2px solid $color-white;
      border-bottom: none;
      border-right: none;
      border-radius: rem(10px) 0 0 0;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
      transform: rotate(90deg);
    }
  }

  &__title {
    @include fontFsl("title-3", 130px, 100%);

    color: $color-yellow;
  }

  &__text {
    @include fontFsl("title-2", 18px, 120%);

    margin-top: rem(20px);
    max-width: 84%;

    color: $color-white;
  }
}
