.features-item {
  position: relative;
  z-index: 0;

  padding: rem(40px) rem(40px) rem(60px) rem(40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__svg {
    @include size(rem(90px));
  }

  &__text {
    @include fontFsl("content-1", 24px, 130%);

    margin-top: rem(40px);
  }

  &__decoration {
    @include size(rem(20px));

    position: absolute;
    z-index: -1;

    user-select: none;
    pointer-events: none;

    border: 2px solid $color-black;
    border-bottom: none;
    border-right: none;
    border-radius: rem(10px) 0 0 0;

    &:nth-child(2),
    &:nth-child(3) {
      border-color: $color-gray;
    }

    &:nth-child(1) {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 0;
      right: 0;
      transform: rotate(90deg);
    }

    &:nth-child(3) {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }
}
