$section-slider-height: rem(920px);

.section-slider {
  position: relative;
  z-index: 0;

  overflow: hidden;

  background-color: $color-black;
  border-radius: 0 0 rem(120px) 0;
  color: $color-white;

  &__swiper {
    position: relative;
    z-index: 1;
  }

  &__surface {
    @include inset;

    position: absolute;
    z-index: 2;

    padding-top: rem(80px);
    padding-bottom: rem(40px);
    pointer-events: none;

    &-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-top {
      padding-top: rem(16px);

      border-top: 1px solid $color-border-white;
    }

    &-bottom {
      position: relative;
      z-index: 0;

      padding-left: calc(#{cols(5)} + #{$colGap});

      &::before {
        @include size(rem(20px));

        position: absolute;
        bottom: 0;
        left: 0;

        content: "";

        border: 2px solid $color-white;
        border-top: none;
        border-right: none;
        border-radius: 0 0 0 rem(10px);
      }
    }
  }

  &__title {
    @include fontFsl("title-2", 18px, 120%);

    pointer-events: all;
  }

  &__controls {
    margin-top: rem(48px);
  }

  &__control {
    pointer-events: all;
  }

  &__pagination {
    @include fontFsl("title-2", 40px, 100%);

    position: relative;
    z-index: 0;

    padding-left: rem(45px);
    pointer-events: all;

    &-current {
      position: absolute;
      top: 0;
      left: 0;

      color: $color-blue;
    }

    &-total {
      @include fsl(16px);
    }
  }
}

.section-slide {
  &__row {
    position: relative;
    z-index: 0;

    display: grid;
    grid-template-columns: repeat(2, calc(#{cols(6)}));
    column-gap: $colGap;
  }

  &__content {
    padding: 0 rem(40px) rem(80px) rem(40px);
    height: $section-slider-height;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__image {
    padding: rem(40px) 0;
  }

  &__picture {
    height: calc(#{$section-slider-height} - (#{rem(40px)} * 2));
    overflow: hidden;

    border-radius: 0 0 rem(100px) 0;
  }

  &__text,
  &__list {
    @include font("content-1");
  }

  &__text {
    @include fsl(20px, 130%);

    max-width: calc(#{cols(3)});
  }

  &__list {
    margin-top: rem(24px);

    &-item {
      @include fsl(16px, 160%);

      position: relative;
      z-index: 0;

      padding-left: rem(48px);
      max-width: calc(#{rem(48px)} + #{cols(3)});

      &:not(:first-child) {
        margin-top: rem(8px);
      }
    }

    &-svg {
      @include size(rem(24px));

      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__title {
    @include fontFsl("title-3", 72px, 100%);

    position: absolute;
    z-index: 1;
    top: rem(166px);
    left: calc(#{cols(3)} + #{$colGap});
    mix-blend-mode: exclusion;

    width: calc(#{cols(6)});
  }
}
