.top-section {
  position: relative;
  z-index: 0;

  &__picture {
    @include inset;

    position: absolute;
    z-index: -1;
  }

  &__content {
    padding-top: rem(209px);
    padding-bottom: rem(189px);
    min-height: rem(1075px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    @include fontFsl("title-3", 130px, 100%);

    color: $color-yellow;
  }
}
