mixin arrow-left-svg
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
    path(d='M8.44322 4.9999L3.82843 9.61469C2.26633 11.1768 2.26633 13.7094 3.82843 15.2715L8.44322 19.8863' stroke='white' stroke-width='1.5')
    line(x1='6' y1='12.2498' x2='23' y2='12.2498' stroke='white' stroke-width='1.5')
