mixin check-svg
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='17' height='11' viewBox='0 0 17 11' fill='none')
    path(d='M1 5.5L4.58579 9.08579C5.36684 9.86684 6.63316 9.86684 7.41421 9.08579L15.5 1' stroke='white' stroke-width='1.5')
