mixin download-svg
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
    path(d='M16.7179 11.1968L14.1028 13.8119C13.2176 14.6971 11.7825 14.6971 10.8973 13.8119L8.28223 11.1968M12.6096 12.5813L12.6096 2.948' stroke='white' stroke-width='1.5')
    path(d='M4 15.1636V17.8302C4 19.4871 5.34315 20.8302 7 20.8302H18C19.6569 20.8302 21 19.4871 21 17.8302V15.1636' stroke='white' stroke-width='1.5')
