mixin feature-section
  section.feature-section
    .container
      .feature-section__row
        .feature-section__col
          .feature-section__picture
            +picture("feature-section.jpg")
        .feature-section__col
          .feature-section__content
            h2.feature-section__title
              |25+ лет
            p.feature-section__text
              |специализируемся на разработке и производстве фильтрующих полумасок
