mixin top-section
  section.top-section(class=attributes.class)
    +picture("top-section.jpg").top-section__picture
    .container
      .top-section__content
        .top-section__top
          +breadcrumbs(['Главная', 'Промышленным предприятиям'])
        .top-section__bottom
          h1.top-section__title
            |Промышленным предприятиям


