.page-industry {
  &-top-section {
    margin-bottom: rem(-180px);
  }

  &-features-section {
    margin-top: rem(180px);
  }

  &-section-slider {
    margin-top: rem(180px);
  }

  &-info-blocks {
    margin-top: rem(96px);
  }

  &-section {
    margin-top: rem(180px);

    @media #{maxWidth()} {
      margin-top: rem(48px);
    }
  }

  &-information-block {
    margin-top: rem(32px);
  }

  &-examples-slider {
    margin-top: rem(100px);
  }
}
