.controls {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: rem(8px);
  justify-content: start;

  &__item {
  }
}

.control {
  $component: &;

  @include size(rem(64px));

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-color: $color-blue;
  border-radius: 50%;

  cursor: pointer;

  &:hover {
    background-color: $color-yellow;

    #{$component} {
      &__svg {
        path,
        line {
          stroke: $color-black;
        }
      }
    }
  }

  &--dark {
    background-color: $color-black;

    #{$component} {
    }
  }

  &__svg {
    @include size(rem(24px));

    &--reverse {
      transform: rotate(180deg);
    }

    &--tilt {
      transform: rotate(135deg);
    }
  }
}

.examples-slider {
  $component: &;

  position: relative;
  z-index: 0;

  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;

  &::before {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;

    content: "";
    width: 1px;

    background-color: $color-white;
  }

  &__slide {
    position: relative;
    z-index: 0;

    padding: rem(40px);
    height: auto;
    min-height: rem(632px);

    border-right: 1px solid $color-gray;

    &:hover {
      #{$component} {
        &__picture {
          transform: scale(1.3);
        }

        &__label {
          background-color: $color-yellow;

          path,
          line {
            stroke: $color-black;
          }
        }
      }
    }
  }

  &__row {
    min-height: 100%;
    display: grid;
    grid-template-columns: calc(#{cols(3)}) auto;
    column-gap: $colGap;
  }

  &__image {
    overflow: hidden;

    border-radius: 0 rem(16px) rem(16px) 0;
  }

  &__picture {
    height: 100%;
    min-height: rem(552px);
  }

  &__content {
    &-item {
      &:not(:first-child) {
        margin-top: rem(40px);
      }
    }
  }

  &__title {
    @include fontFsl("title-3", 54px, 100%);
  }

  &__label {
    position: absolute;
    z-index: 1;
    bottom: rem(40px);
    right: rem(40px);
  }

  &__table {
    &-row {
      display: grid;
      grid-template-columns: repeat(2, calc(#{$col}));
      column-gap: $colGap;

      &:not(:first-child) {
        margin-top: rem(9px);
      }
    }

    &-title {
      @include fontFsl("content-1", 14px, 130%);
    }

    &-value {
      @include fontFsl("title-2", 16px, 100%);
    }
  }

  &__feature {
    display: grid;
    grid-template-columns: rem(60px) auto;
    column-gap: rem(12px);

    &-svg {
      @include size(rem(60px));
    }

    &-content {
    }

    &-title {
      @include fontFsl("title-2", 13px, 100%);
    }

    &-value {
      margin-top: rem(8px);
    }

    &-list {
    }
  }
}

.wrap-list {
  --gap: #{rem(4px)};

  &__list {
    margin-top: calc(-1 * var(--gap));
    margin-left: calc(-1 * var(--gap));
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: var(--gap);
    margin-left: var(--gap);
  }
}

.tag {
  display: flex;

  &__tag {
    @include fontFsl("content-1", 12px, 130%);

    padding: 0 rem(12px);
    height: rem(30px);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-gray-light;
    cursor: pointer;
  }
}

.form-section {
  padding: rem(180px) calc(#{$colPad} + #{$col} + #{$colGap});

  background-color: $color-gray-light;

  &__content {
    position: relative;
    z-index: 0;

    &::before,
    &::after {
      @include size(rem(20px));

      position: absolute;
      z-index: -1;
      top: 0;

      content: "";
      pointer-events: none;
      user-select: none;

      border: 2px solid $color-black;
      border-bottom: none;
      border-right: none;
      border-radius: rem(10px) 0 0 0;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
      transform: rotate(90deg);
    }

    &-item {
      &:not(:first-child) {
        margin-top: rem(80px);
      }
    }
  }

  &__title {
    max-width: calc(#{cols(5)});

    &-container {
      padding-left: calc(#{cols(2)} + #{$colGap});
    }
  }

  &__article-container {
    padding-left: calc(#{$col} + #{$colGap});
  }
}

.section-form {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: $colGap;
    row-gap: $colGap;
  }

  &__item {
    &--row {
      grid-column: 1 / span 2;
    }

    &--right {
      grid-column-start: 2;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__agreement {
  }

  &__submit {
    margin-left: $colGap;
  }
}

.form-field {
  $component: &;

  &--textarea {
    #{$component} {
      &__input {
        padding-top: rem(19px);
        padding-bottom: rem(19px);
        height: rem(120px);
      }
    }
  }

  &--error {
    #{$component} {
      &__error {
        display: block;
      }
    }
  }

  &__input {
    @include fontFsl("content-1", 16px, 130%);

    @include placeholder {
      color: $color-gray-dark;
    }

    padding: 0 rem(24px);
    width: 100%;
    height: rem(60px);

    background: $color-white;
    border: 1px solid $color-gray;
    border-radius: rem(12px);
    color: $color-black;

    &:hover,
    &:focus {
      border-color: $color-blue;
    }
  }

  &__error {
    @include fontFsl("content-1", 12px, 130%);

    margin-top: rem(8px);
    display: none;

    color: $color-red;
  }
}

.simple-checkbox {
  $component: &;

  display: flex;

  &--error {
    #{$component} {
      &__error {
        display: block;
      }
    }
  }

  &__label {
    position: relative;
    z-index: 0;

    display: grid;
    grid-template-columns: rem(24px) auto;
    column-gap: rem(12px);

    cursor: pointer;

    &:hover {
      #{$component} {
        &__box {
          border-color: $color-blue;
        }
      }
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;

    opacity: 0;

    &:focus {
      & ~ {
        #{$component} {
          &__box {
            border-color: $color-blue;
          }
        }
      }
    }

    &:checked {
      & ~ {
        #{$component} {
          &__box {
            border-color: $color-blue;
            background-color: $color-blue;

            #{$component} {
              &__svg {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  &__box {
    @include size(rem(24px));

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-white;
    border: 1px solid $color-gray;
    border-radius: rem(4px);
  }

  &__svg {
    opacity: 0;
  }

  &__content {
    @include fontFsl("content-1", 12px, 160%);
  }

  &__link {
    color: $color-blue;
  }

  &__error {
    @include fontFsl("content-1", 12px, 130%);

    margin-top: rem(8px);
    display: none;
    grid-column: 1 / span 2;

    color: $color-red;
  }
}
